<h2>Reset Password</h2>
<p>please reset your new password</p>
<form #resetForm = "ngForm" class="form-group">
    <label for="password">password</label>
<input class="form-control" type ="password" placeholder="password" [(ngModel)]="user.password" name="password" required>

<label for="confirmPassword">Confirm Password</label>
<input class="form-control"  type ="password" placeholder="confirmPassword" [(ngModel)]="user.confirmPassword" name="password" required>

    <button class="btn btn-primary" (click)="submit()" *ngIf="!submitting"> reset </button>
    <button class="btn btn-primary" (click)="submit()" [disabled] *ngIf="submitting"> resetting... </button>
</form> 

<p>
    <a routerLink="/auth/login">back to Login</a>
</p>